<div class="signup-container">

<h1 class="page-header">Sign up to get access to exclusive job listings!</h1>

<%= form_for @applicant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control" %>
  <%= f.label :password_digest %>
  <%= f.password_field :password_digest, class: "form-control" %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>
<%= f.submit %>
<% end %>

<%# <form class="signup-form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="applicant-signup-first-name">First Name</label>
      <input type="text" class="form-control" id="applicant-signup-first-name">
    </div>
    <div class="form-group col-md-6">
      <label for="applicant-signup-last-name">Last Name</label>
      <input type="text" class="form-control" id="applicant-signup-last-name">
    </div>
    <div class="form-group col-md-6">
      <label for="applicant-signup-email">Email</label>
      <input type="text" class="form-control" id="applicant-signup-email">
    </div>
    <div class="form-group col-md-6">
    <label for="applicant-signup-phone">Phone</label>
    <input type="text" class="form-control" id="applicant-signup-phone">
    </div>
    <div class="form-group col-md-6">
      <label for="applicant-signup-password1">Password</label>
      <input type="password" class="form-control" id="applicant-signup-password1" placeholder="Please use a complex password you'll remember!">
    </div>
    <div class="form-group col-md-6">
      <label for="applicant-signup-password2">Password</label>
      <input type="password" class="form-control" id="applicant-signup-password2" placeholder="Please re-enter your password">
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Keep me signed in
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form> %>
</div>
