
<%= link_to "Back to Dashboard", job_applications_path %> <br>
<%= link_to "Back to your Profile", applicant_path(current_applicant)%>
<br><br><br>
<h5><%= @job_posting.title %></h5>
<br><br>
<h6>Employer</h6><%= @job_posting.employer.name %>
<br><br>
<h6>Salary:</h6>£<%= @job_posting.salary %>
<br><br>
<h6>Industry:</h6><%= @job_posting.employer.industry %>
<br><br>
<h6>Job Description:</h6><%= @job_posting.description %>
<br><br>
<h6>Requirements:</h6><%= @job_posting.requirement %>
<br><br><br>

<h5>Your next job is one click ahead!</h5>

<%=link_to "Apply", job_applications_path(:job_application => {:job_posting_id => @job_posting.id, :applicant_id => current_applicant.id, :interest => true}), method: "POST", data: {confirm: 'Are you sure?'}%> <br>                                                          
<br><br>
<%=link_to "Next Job Posting", job_applications_path(:job_application => {:job_posting_id => @job_posting.id, :applicant_id => current_applicant.id, :interest => true}), method: "POST"%> <br>                                                          
