<h5>Profile Image</h5>
small arrow
<br><br><br>
<%= link_to "Dashboard", job_applications_path %>
<br><br><br><br><br>
------------------------------------------------------------------------------------------------
<h5><%= @job_posting.title %></h5>
<br><br>
<h6>Employer</h6><%= @job_posting.employer %>
<br><br>
<h6>Salary:</h6>£<%= @job_posting.salary %>
<br><br>
<h6>Industry:</h6><%= @job_posting.employer.industry %>
<br><br>
<h6>Job Description:</h6><%= @job_posting.description %>
<br><br>
<h6>Requirements:</h6><%= @job_posting.requirement %>
<br><br><br>
<h5>Your next job is one click ahead!</h5>
<br><br><br><br>
<%= button_to'√', job_posting_likes_path(@job_posting), method: :job_posting %>
<p><%= @job_posting.likes.count %> <%= (@job_posting.likes.count) == 1 ? 'Like' : 'Likes' %></p>
<% pre_like = @job_posting.likes.find { |like| like.applicant_id == current_applicant.id} %>
<% if pre_like %>
    <%= button_to 'Unlike', job_posting_like_path(@job_posting, pre_like), method: :delete %>
<% else %>
    <%= button_to '√', job_posting_likes_path(@job_posting), method: :job_posting %>
<% end %>