<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title  %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
  <% if current_applicant %>
  <h4> You are logged in as <%=current_applicant.name%></h4><br>

     <p> <%=link_to "Log Out", sessions_path , method:
      :delete%><br/></p>
      <%else%>
      <%=link_to "Log In", new_session_path%>
  <%end%> 
  </ul>
    <%= yield %>
  </body>
</html>
